.portfolio-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  margin-left: 20px;
}

.portfolio-balance {
  margin: 20px 20px 0;
  font-size: em(64);
  text-align: right;
  color: $apricot;
}

.coin-square {
  align-self: auto;
  margin-top: 20px;
  padding: 20px;
  min-width: 120px;
  min-height: 120px;
  color: #fff;
  background: $lightGray;

  p,
  em { font-family: Overpass; }

  p { font-weight: 200; font-size: em(12); }

  p.f18 { font-size: em(18); }

  p,
  h1 { margin-bottom: 10px; }

  h1 { font-size: em(24); }
}
