.portfolio-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  margin-left: 20px;
}

.portfolio-balance {
  margin: 20px 20px 0;
  font-size: em(64);
  text-align: right;
  color: $apricot;
}
