.coin-square {
  @include transition(all, .2s, ease-in-out);
  flex-grow: 1;
  box-sizing: content-box;
  position: relative;
  align-self: auto;
  padding: 20px;
  margin: 0 1px 20px 0;
  max-width: 160px;
  min-width: 160px;
  max-height: 150px;
  min-height: 150px;
  font-size: em(14);
  color: #fff;
  background: $lightGray;
  border: 2px solid rgba(87, 56, 92, 0);
  box-shadow: 1px 1px 0 rgba(47, 38, 90, 0.2),
              2px 2px 2px rgba(47, 38, 90, 0.1);
  cursor: pointer;

  &:hover {
    border: 2px solid #fff;
    opacity: 0.8;
  }

  p,
  em { font-family: Overpass; }

  p { font-weight: 200; }

  p.balance {
    position: absolute;
    bottom: 15px;
    float: left;
    width: 100%;
    font-size: em(20);
  }

  h1 {
    float: left;
    margin-bottom: 10px;
    width: 100%;
    height: 25px;
    font-size: em(24);
  }
}

.coin-stats {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  color: #fff;

  span {
    float: left;
    font-size: em(14);
  }
}

.position-bg {
  float: left;
  padding: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bg-lite {
  .coin-stats { color: #666; }
}

.coin-index {
  float: left;
  margin-right: 12px;
}

.coin-percentage { float: right; }

.coin-price,
.coin-position {
  float: left;
  width: 100%;
}

.coin-price {
  margin-bottom: 10px;
  padding: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.coin-position {
  opacity: 0.7;
  margin-bottom: 5px;
  font-size: em(12);
}

.hr24 { margin-right: 10px; }

.change24 { float: right; }

.stat { color: $midGray; }

.coin-balance { float: left; }

.bg::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
}

.bg-btc::after,
.bg-dcr::after {
  background-position: 50% 5%;
  background-size: 100%;
}

.bg-bnb::after,
.bg-dnt::after {
  background-position: 50% 50%;
  background-size: 80%;
}

.bg-btc::after { background-image: url('static/bg-btc.png'); }
.bg-bnb::after { background-image: url('static/bg-bnb.png'); }
.bg-dcr::after { background-image: url('static/bg-dcr.gif'); }
.bg-dnt::after { background-image: url('static/bg-dnt.png'); }

.bg-eth::after {
  background-position: 50% 50%;
  background-size: 50%;
  background-image: url('static/bg-eth.png');
}

.bg-eos::after {
  background-position: 50% 5%;
  background-size: 150%;
  background-image: url('static/bg-eos.png');
}

.bg-lsk::after,
.bg-neo::after {
  background-position: 50% 100%;
  background-size: 70%;
}

.bg-gnt::after,
.bg-spank::after,
.bg-sonm::after,
.bg-zen::after {
  background-position: 50% 50%;
  background-size: 70%;
}

.bg-gnt::after { background-image: url('static/bg-gnt.png'); }
.bg-lsk::after { background-image: url('static/bg-lsk.png'); }
.bg-neo::after { background-image: url('static/bg-neo.png'); }

.bg-nano::after {
  background-position: 50% 50%;
  background-size: 120%;
  background-image: url('static/bg-nano.png');
}

.bg-spank::after { background-image: url('static/bg-spank.png'); }
.bg-sonm::after { background-image: url('static/bg-sonm.png'); }
.bg-zen::after { background-image: url('static/bg-zen.png'); }

.bg-ada::after,
.bg-zrx::after {
  background-position: 50% 50%;
  background-size: 100%;
}

.bg-ada::after { background-image: url('static/bg-ada.png'); }

.bg-zrx::after { background-image: url('static/bg-zrx.png'); }

.bg-xlm::after {
  background-position: 50% 50%;
  background-size: 70%;
  background-image: url('static/bg-xlm.png');
}

.dark-bg {
  .coin-balance { border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
}
