.coin-square {
  @include transition(all, .2s, ease-in-out);
  flex-grow: 1;
  box-sizing: content-box;
  position: relative;
  align-self: auto;
  padding: 20px;
  margin-bottom: 30px;
  max-width: 140px;
  min-width: 140px;
  max-height: 140px;
  min-height: 140px;
  color: #fff;
  background: $lightGray;
  border: 2px solid rgba(87, 56, 92, 0);
  box-shadow: 1px 1px 0 rgba(47, 38, 90, 0.2),
              2px 2px 2px rgba(47, 38, 90, 0.1);
  cursor: pointer;

  &:hover {
    border: 2px solid #fff;
    opacity: 0.8;
  }

  p,
  em { font-family: Overpass; }

  p { font-weight: 200; font-size: em(14); }

  p.balance {
    position: absolute;
    bottom: 10px;
    font-size: em(20);
  }

  p,
  h1 { margin-bottom: 10px; }

  h1 {
    height: 25px;
    font-size: em(24);
  }
}

.coin-balance {
  padding: 10px 0;
  float: left;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.coin-index {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: em(12);
  color: #ccc;
}

.bg::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
}

.bg-btc::after {
  background-position: 50% 5%;
  background-size: 100%;
  background-image: url('static/bg-btc.png');
}

.bg-eth::after {
  background-position: 50% 50%;
  background-size: 50%;
  background-image: url('static/bg-eth.png');
}

.bg-eos::after {
  background-position: 50% 5%;
  background-size: 150%;
  background-image: url('static/bg-eos.png');
}

.bg-lsk::after {
  background-position: 50% 100%;
  background-size: 70%;
  background-image: url('static/bg-lsk.png');
}

.dark-bg {
  .coin-balance {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
