.bg::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
}

.bg-btc::after,
.bg-dcr::after {
  background-position: 50% 5%;
  background-size: 100%;
}

.bg-bnb::after,
.bg-dnt::after,
.bg-ven::after {
  background-position: 50% 50%;
  background-size: 80%;
}

.bg-eth::after {
  background-position: 50% 50%;
  background-size: 50%;
  background-image: url('static/bg-eth.png');
}

.bg-eos::after {
  background-position: 50% 5%;
  background-size: 150%;
  background-image: url('static/bg-eos.png');
}

.bg-lsk::after,
.bg-neo::after {
  background-position: 50% 100%;
  background-size: 70%;
}

.bg-gnt::after,
.bg-spank::after,
.bg-snm::after,
.bg-zen::after {
  background-position: 50% 50%;
  background-size: 70%;
}

.bg-nano::after {
  background-position: 50% 50%;
  background-size: 120%;
  background-image: url('static/bg-nano.png');
}

.bg-ada::after,
.bg-zrx::after {
  background-position: 50% 50%;
  background-size: 100%;
}

.bg-xlm::after {
  background-position: 50% 50%;
  background-size: 70%;
  background-image: url('static/bg-xlm.png');
}

.bg-ada::after { background-image: url('static/bg-ada.png'); }
.bg-btc::after { background-image: url('static/bg-btc.png'); }
.bg-bnb::after { background-image: url('static/bg-bnb.png'); }
.bg-dcr::after { background-image: url('static/bg-dcr.gif'); }
.bg-dnt::after { background-image: url('static/bg-dnt.png'); }
.bg-gnt::after { background-image: url('static/bg-gnt.png'); }
.bg-lsk::after { background-image: url('static/bg-lsk.png'); }
.bg-neo::after { background-image: url('static/bg-neo.png'); }
.bg-spank::after { background-image: url('static/bg-spank.png'); }
.bg-snm::after { background-image: url('static/bg-sonm.png'); }
.bg-ven::after { background-image: url('static/bg-ven.png'); }
.bg-zen::after { background-image: url('static/bg-zen.png'); }
.bg-zrx::after { background-image: url('static/bg-zrx.png'); }

.dark-bg {
  .coin-balance { border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
}

.bg-ada,
.bg-btc,
.bg-bch,
.bg-mkr,
.bg-neo,
.bg-spank,
.bg-xlm {
  .green,
  .red {
    margin: -2px 4px 0 0;
    padding: 2px;
  }
}

.bg-btc,
.bg-bch,
.bg-mkr,
.bg-nano,
.bg-neo {
  .green { background-color: rgba(0, 0, 0, .5); }
  .red { background-color: rgba(255, 255, 255, .45); }
}

.bg-spank {
  .red { background-color: rgba(255, 255, 255, .85); }
}

.bg-ven,
.bg-xlm {
  .green { background-color: rgba(0, 0, 0, .5); }
}
