.fl { float: left; }
.fr { float: right; }
.o7 { opacity: 0.7; }
.wauto { width: auto; }
.w700 { font-weight: 700; }
.w20 { width: 20px; }
.mb0 { margin-bottom: 0 !important; }
.mr5 { margin-right: 5px; }
.mr3 { margin-right: 3px; }
.mr-n5 { margin-right: -5px; }
.mr10 { margin-right: 10px; }
.ml10 { margin-left: 10px; }

.f14 {
  font-size: em(14) !important;
}
