/* 900 (Mobile Break)
========================================================= */
@media all and (max-width: 900px) {
  #square-edit-container {
    .close-modal-x {
      position: absolute;
      top: 20ox;
      right: 30px;
    }
  }

  #square-edit { width: 100%; margin: 0 auto; }

  #coin-balance { width: 80%; }

  .edit-short,
  .edit-tall { height: auto; padding-bottom: 20px; }

  #save-button {
    margin: 0 10% 20px !important;
    width: 80%;
    height: 56px;
    font-size: 2em;
    border: 1px solid #fff;
  }

  .portfolio-container { margin: 10px; }

  // .coin-square {
  //   min-width: 210px;
  //   min-height: 210px;
  // }

  .coin-price { float: left; }

  .coin-holdings { float: right; }
}

@media (max-width: 400px) {
  .flex-grid {
    .col {
      width: 50%;
    }
  }
}
