#search-modal {
  @include rounded(5px);
  animation: fadein .4s;
  position: absolute;
  z-index: 4;
  left: 20px;
  bottom: 160px;
  padding: 20px;
  width: 250px;
  height: 400px;
  font-family: Overpass;
  font-size: em(20);
  font-weight: 200;
  border: 1px solid $apricot;
  background: rgba($darkPurple, .6);

  .symbol {
    color: $brightPurple;
  }

  input {
    flex-grow: 1;
    margin: 0 10px 10px 0;
    width: 206px;
    font-size: em(18);
  }

  li {
    margin-bottom: 10px;
    width: 100%;
    color: $apricot;
    cursor: pointer;

    &:hover { color: #fff; }
  }
}

.search-header { display: flex; }

.coins-list {
  overflow-y: scroll;
  height: 350px;

  .symbol {
    margin-left: 4px;
  }

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    background: darken($darkPurple, 10%);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $apricot;
    cursor: pointer;
  }
}

.close-modal-x {
  flex-grow: 1;
  margin: 0 -15px 0 0;
  background-size: 20px 20px;
  background-image: url('static/x-orange.png'), none;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &:hover { background-image: url('static/x-white.png'), none; }
}
