#board {
  // position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#overlay {
  animation: fadein .5s;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
}

.plus { color: $apricot; }

.loading-container {
  position: absolute;
  padding: 50px;
  width: 100%;
}

.affiliates {
  position: fixed;
  z-index: 9;
  bottom: 20px;
  left: 140px;
  width: 100%;

  a { color: #fff; }

  li {
    @include transition(all, .2s, ease-in-out);
    float: left;
    margin-left: 1px;
    width: 120px;
    height: 116px;
    text-align: center;
    background: rgba(87, 56, 92, 0.85);
    border: 2px solid rgba(87, 56, 92, 0);
    cursor: pointer;

    &:hover {
      opacity: 0.7;
      border: 2px solid $brightPurple;
    }

    &.coinbase {
      background-image: url('static/coinbase.png');
    }

    &.binance {
      background-image: url('static/binance.png');
    }

    &.changelly {
      background-image: url('static/changelly.png');
    }
  }

  h4 {
    position: absolute;
    top: -20px;
  }
}

.coinmarketcap {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 300px;
  width: 100%;
  text-align: right;

  a {
    color: $apricot;
    cursor: pointer;

    &:hover {
      color: lighten($apricot, 10%);
    }
  }
}
