#board {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex: 1 1 auto;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

#overlay {
  animation: fadein .5s;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
}

.plus { color: $apricot; }
